@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --matrix-letter: #ffffff;
    --matrix-background: hsla(var(--b1)/ 0.3);
}

[data-theme='light'] {
    --matrix-letter: #000000;
    --matrix-background: hsla(var(--b1)/ 0.3);
}

[data-theme='night'] {
    --matrix-letter: #ffffff;
    --matrix-background: hsla(var(--b1)/ 0.3);
}

section{
    max-width: 1124px;
    margin: auto;
    padding: 0 2rem;
}

[data-theme="night"] .title1 {
    color: rgb(255, 255, 255);
}

[data-theme="autumn"] .title1 {
    color: rgb(105, 86, 86);
}